.nav {
  background-color: rgb(221, 221, 221);
}

.nav a {
  display: inline-block;
  margin: 0 5px;
}

.user-details {
  display: inline-block;
  margin: 5px;
}

.notification,
.error {
  border: 1px solid;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background: lightgray;
}

.notification {
  color: green;
  border-color: green;
}

.error {
  color: red;
  border-color: red;
}
