.nav {
  background-color: rgb(221, 221, 221);
}

.navbar-nav {
  align-items: center;
}

.nav a {
  display: inline-block;
  margin: 0 5px;
}

.user-details {
  display: inline-block;
  margin: 0px;
}

.notification,
.error {
  border: 1px solid;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background: lightgray;
}

.App .card {
  margin-top: 20px;
}

.App .alert {
  margin-top: 20px;
}

.App .heading {
  margin: 20px 0;
}

.notification {
  color: green;
  border-color: green;
}

.error {
  color: red;
  border-color: red;
}

.create-blog {
  margin-right: 10px;
}

.blog-url {
  display: block;
  margin: 10px 0;
}
